@font-face {
    font-family: "Inter";
    src: url(Inter-VariableFont_slnt\,wght.ttf);
}

p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

ul {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 1;
}

.logo-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo-pic {
    width: 40px;
    height: 40px;
}
.logo-text {
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .logo-pic {
        width: 48px;
        height: 48px;
    }
    .logo-text {
        font-size: 25px;
    }
}
.fr-button {
    background-color: #1b1c29;
    color: #fff;
    border: none;
    border-radius: 10%;
    text-align: center;
}

@media screen and (min-width: 0px) {
    .fr-button {
        font-size: 12px;
        height: 48px;
        width: 48px;
    }
}

@media screen and (min-width: 768px) {
    .fr-button {
        font-size: 16px;
        height: 60px;
        width: 60px;
    }
}

.fr-button:hover {
    background-color: #dadbe3;
    color: #1b1c29;
    transition: 0.4s;
}

.nav-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (min-width: 0px) {
    .nav-box {
        margin: 22.5px;
    }
}

@media screen and (min-width: 768px) {
    .nav-box {
        margin: 60px;
    }
}

.main-box {
    display: flex;
    flex-direction: column;
    /* margin: 60px; */
}

@media screen and (min-width: 0px) {
    .main-box {
        margin: 22.5px;
    }
}

@media screen and (min-width: 768px) {
    .main-box {
        margin: 60px;
    }
}

.intro-box {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 0px) {
    .intro-box {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .intro-box {
        flex-direction: row;
    }
}

.me-pic {
    object-fit: cover;
    /* width: 46%; */
    /* height: 46%; */
    aspect-ratio: 1;
}

@media screen and (min-width: 0px) {
    .me-pic {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 768px) {
    .me-pic {
        width: 46%;
        height: 46%;
    }
}

.about-box{
    display: flex;
    /* flex-direction: row; */
    align-items: flex-start;
    justify-content: space-between;
    /* padding-top: 80px; */
}

@media screen and (min-width: 0px) {
    .about-box {
        flex-direction: column;
        padding-top: 20px;
    }
}

@media screen and (min-width: 768px) {
    .about-box {
        flex-direction: row;
        padding-top: 80px;
    }
}

.contact-box {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* padding-top: 60px; */
}

@media screen and (min-width: 0px) {
    .contact-box {
        padding-top: 0px;
    }
}

@media screen and (min-width: 768px) {
    .contact-box {
        padding-top: 40px;
    }
}

@media screen and (min-width: 0px) {
    .left-box {
        max-width: 100%;
    }

    .left-text-box {
        max-width: 100%;
        padding-right: 0px;
    }

    .right-box {
        max-width: 100%;
        padding-left: 0px;
    }
}

@media screen and (min-width: 768px) {
    .left-box {
        max-width: 50%;
        /* padding-right: 60px; */
    }
    
    .left-text-box {
        max-width: 50%;
        padding-right: 50px;
    }
    
    .right-box {
        max-width: 50%;
        padding-left: 60px;
    }
}
