@font-face {
    font-family: "Inter";
    src: url(Inter-VariableFont_slnt\,wght.ttf);
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
}

a:link {
    color: #fff
}

a:visited {
    color: #fff;
}

p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

ul {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
}



h2 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
}

.fr-title {
    font-size: 40px;
}

@media screen and (min-width: 768px) {
    .fr-title {
        font-size: 50px;
    }

    ul {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }

    h2 {
        font-size: 50px;
    }

    h1 {
        font-size: 25px;
    }
}

.logo-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo-pic {
    width: 40px;
    height: 40px;
}
.logo-text {
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .logo-pic {
        width: 48px;
        height: 48px;
    }
    .logo-text {
        font-size: 25px;
    }
}
.fr-button {
    background-color: #1b1c29;
    color: #fff;
    border: none;
    border-radius: 10%;
    text-align: center;

    font-size: 12px;
    height: 48px;
    width: 48px;
}

@media screen and (min-width: 768px) {
    .fr-button {
        font-size: 16px;
        height: 60px;
        width: 60px;
    }
}

.fr-button:hover {
    background-color: #dadbe3;
    color: #1b1c29;
    transition: 0.4s;
}

.nav-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin: 22.5px;
}

@media screen and (min-width: 768px) {
    .nav-box {
        margin: 60px;
    }
}

.main-box {
    display: flex;
    flex-direction: column;
    
    margin: 22.5px;
}

@media screen and (min-width: 768px) {
    .main-box {
        margin: 60px;
    }
}

.intro-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .intro-box {
        flex-direction: row;
    }
}

.me-pic {
    object-fit: cover;
    aspect-ratio: 1;

    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .me-pic {
        width: 46%;
        height: 46%;
    }
}

.about-box{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    flex-direction: column;
    padding-top: 20px;
}

@media screen and (min-width: 768px) {
    .about-box {
        flex-direction: row;
        padding-top: 80px;
    }
}

/* .contact-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    flex-direction: column;
    padding-top: 0px;
}

@media screen and (min-width: 768px) {
    .contact-box {
        padding-top: 40px;
        flex-direction: row;
    }
} */

/* .contact-text {
    display: flex;
    flex-direction: column;
} */

.left-box {
    max-width: 100%;
}

.left-text-box {
    max-width: 100%;
    padding-right: 0px;
    padding-bottom: 60px;
}

.right-box {
    max-width: 100%;
    padding-left: 0px;
}

@media screen and (min-width: 768px) {
    .left-box {
        max-width: 50%;
    }
    
    .left-text-box {
        max-width: 50%;
        padding-right: 50px;
        padding-bottom: 0px;
    }
    
    .right-box {
        max-width: 50%;
        padding-left: 60px;
    }
}

.forms-button {
    background-color:#1b1c29;
    color: #fff;
    border: none;
    border-radius: 10%;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;

    font-size: 18px;
    height: 55px;
    width: 165px;
}

@media screen and (min-width: 768px) {
    .forms-button {
        font-size: 20px;
        height: 60px;
        width: 185px;
    }
}

.forms-button:hover {
    background-color: #dadbe3;
    color: #1b1c29;
    transition: 0.4s;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f3f3f3;

    /* margin: 22.5px; */
}

.footer-box {
    padding-top: 22.5px;
    padding-left: 22.5px;
    padding-right: 22.5px;
    padding-bottom: 10px;
}

.footer-text {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .footer-box {
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 22.5px;
    }

    .footer-text {
        font-size: 16px;
    }
}

/* iframe {
    width: 100%;
    height: 1170px;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width: 768px) {
    iframe {
        width: 52%;
    }
} */