@font-face {
    font-family: "Inter";
    src: url(Inter-VariableFont_slnt\,wght.ttf);
}

p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

ul {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 50px;
}

.main-box {
    display: flex;
    flex-direction: column;
    margin: 60px;
}

.intro-box {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .intro-box {
        flex-direction: column;
    }
}

@media screen and (min-width: 600px) {
    .intro-box {
        flex-direction: column;
    }
}

@media screen and (min-width: 780px) {
    .intro-box {
        flex-direction: row;
    }
}

img {
    object-fit: cover;
    /* width: 46%; */
    /* height: 46%; */
    aspect-ratio: 1;
}

@media screen and (max-width: 600px) {
    img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 600px) {
    img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 780px) {
    img {
        width: 46%;
        height: 46%;
    }
}

.about-box{
    display: flex;
    /* flex-direction: row; */
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 80px;
}

@media screen and (max-width: 600px) {
    .about-box {
        flex-direction: column;
    }
}

@media screen and (min-width: 600px) {
    .about-box {
        flex-direction: column;
    }
}

@media screen and (min-width: 780px) {
    .about-box {
        flex-direction: row;
    }
}

.contact-box {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    padding-top: 60px;
}

@media screen and (max-width: 600px) {
    .left-box {
        max-width: 100%;
    }

    .left-text-box {
        max-width: 100%;
        padding-right: 0px;
    }

    .right-box {
        max-width: 100%;
        padding-left: 0px;
    }
}

@media screen and (min-width: 600px) {
    .left-box {
        max-width: 100%;
    }

    .left-text-box {
        max-width: 100%;
        padding-right: 0px;
    }

    .right-box {
        max-width: 100%;
        padding-left: 0px;
    }
}

@media screen and (min-width: 780px) {
    .left-box {
        max-width: 50%;
        /* padding-right: 60px; */
    }
    
    .left-text-box {
        max-width: 50%;
        padding-right: 50px;
    }
    
    .right-box {
        max-width: 50%;
        padding-left: 60px;
    }
}

/* break-point : 780px */